<div id="map" class="custom-popup" leaflet
     style="height: 100%"
     leafletDraw
     [leafletOptions]="options"
     [leafletDrawOptions]="drawOptions"
     (leafletDrawCreated)="onDrawCreated($event)"
     (leafletDrawStart)="onDrawStart($event)"
     (leafletClick)="onLeafletClick($event)"
     (leafletMapReady)="onMapReady($event)">
  <div class="test"
       *ngFor="let m of markers">
    <div class="testMarker"
         [leafletLayer]="m">
    </div>
  </div>
  <div class="test-box">

  </div>
</div>