/* You can add global styles to this file, and also import other style files */
body,
html {
  height: 100%;
}
  
#map {
  width: 100%;
  height: 100%;
}
.custom-popup .leaflet-popup-content-wrapper {
    background:#2c3e50;
    color:#fff;
    font-size:16px;
    line-height:24px;
    border-radius: 0px;
    }
  .custom-popup .leaflet-popup-content-wrapper a {
      color:rgba(255,255,255,0.1);
    }
  .custom-popup .leaflet-popup-tip-container {
    width:30px;
    height:15px;
    }
  .custom-popup .leaflet-popup-tip {
      background: transparent;
      border: none;
      box-shadow: none;
    }
.modal-header {
  background: #2c3e50;

}
.header-text {
  color: white;
}
.btn-wolfchatter {
  background: #2c3e50;
}
.btn-text {
  color: white;
}